/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.04.2016, 11:17:02
    Author     : Azad
*/

.root {
    -fx-background-color: #DDD;
}

.button {
    -fx-min-width: 100px;
    -fx-background-color: #6AC8FF;
    -fx-border-radius: 0px;
    -fx-background-radius: 0.0em;
}

.button:hover {
    -fx-background-color: #B8E6FF;
}

.button:pressed {
    -fx-background-color: #3897CE;
}

.slider {
    -fx-margin: 10px;
}

.slider .thumb {
    -fx-color: #6AC8FF;
    -fx-background-radius: 0.0em;
    -fx-background-insets: 0, 0, 0, 0;
}

.slider:focused .thumb {
    
}

.slider .thumb:hover {
    -fx-color: #B8E6FF;
}

.slider .thumb:pressed {
    -fx-color: #3897CE;
}
.slider:vertical .track {
    -fx-background-color:#ffcc66;
}

.slider .track {
    -fx-Background-color: #87949B;
    -fx-background-radius: 0.0, 0.0, 0.0;
}